<app-navbar/>
<div class="p-5">
  <h1>Gallerie</h1>
</div>
<div class="container-fluid d-flex justify-content-center align-items-center">
  <div class=" row justify-content-md-center">
    <div class="col col-lg-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3124/3124916.png"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>
    <div class="col col-lg-4">
      <img src="https://cdn-icons-png.flaticon.com/512/958/958829.png?w=360"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>
    <div class="col col-lg-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Icon_Bird_512x512.png?20130511120544"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>

    <div class="col col-lg-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3124/3124916.png"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>
    <div class="col col-lg-4">
      <img src="https://cdn-icons-png.flaticon.com/512/958/958829.png?w=360"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>
    <div class="col col-lg-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Icon_Bird_512x512.png?20130511120544"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>

    <div class="col col-lg-4">
      <img src="https://cdn-icons-png.flaticon.com/512/3124/3124916.png"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>
    <div class="col col-lg-4">
      <img src="https://cdn-icons-png.flaticon.com/512/958/958829.png?w=360"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>
    <div class="col col-lg-4">
      <img src="https://upload.wikimedia.org/wikipedia/commons/6/63/Icon_Bird_512x512.png?20130511120544"
        class="mt-5 mb-5 small shadow w-75 rounded mx-auto d-block" alt="oiseau">
    </div>
  </div>
</div>