<div class="container">
    <div class="card shadow-sm">
        <div class="card-body">
            <h5 class="card-title">Reset Password</h5>
            <p>Entrez votre email pour effectuer une demande de réinitialisation de mot de passe</p>
            <div class="row mb-3">
                <div class="col">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" #userEmail required>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-4">
                    <button type="button" (click)="forgotPassword(userEmail.value)"
                        class="btn btn-primary">Réinitialiser</button>
                </div>
            </div>
            <span>Retourner à la page de  <a routerLink="/sign-in">connexion</a> ?</span>
        </div>
    </div>
</div>